@import 'tailwindcss';

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter_Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter_Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter_Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter_SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter_Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* Spectral */
@font-face {
  font-family: 'Spectral';
  src: url('/assets/fonts/spectral/Spectral-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Spectral';
  src: url('/assets/fonts/spectral/Spectral-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Spectral';
  src: url('/assets/fonts/spectral/Spectral-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* Brygada-1918 */
@font-face {
  font-family: 'Brygada-1918';
  src: url('/assets/fonts/brygada-1918/Brygada1918-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Brygada-1918';
  src: url('/assets/fonts/brygada-1918/Brygada1918-Regular.ttf') format('truetype');
  font-weight: 400;
}

:root {
  --color-text-primary: #000000;
  --color-text-secondary: #4d4d4d;
  --color-text-inverse: #ffffff;
}

:root[data-theme='dark'] {
  --color-text-primary: #f0ece5;
  --color-text-secondary: #b6bbc4;
  --color-text-inverse: #25292b;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  --color-primary: var(--color-text-primary);
  --color-secondary: var(--color-text-secondary);
  --color-inverse: var(--color-text-inverse);

  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-spectral: 'Spectral', sans-serif;
  --font-brygada: 'Brygada-1918', sans-serif;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
